*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{

background:#111;
color:white;
}

html{

scroll-behavior:smooth;
}

nav{

display:flex;
justify-content:space-between;
padding:20px;

background:black;
position:sticky;
top:0;
}

ul{

display:flex;
gap:15px;
list-style:none;
}

a{

text-decoration:none;
color:white;
}

section{

padding:60px;
}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:
linear-gradient(
to right,
#141e30,
#243b55
);

}

.hero h2{

font-size:50px;

text-shadow:
0 0 15px cyan;

}

button{

padding:10px;
margin:10px;

cursor:pointer;

border:none;

border-radius:10px;
}

.cards{

display:flex;

gap:20px;

flex-wrap:wrap;
}

.card{

background:#222;

padding:20px;

width:250px;

border-radius:15px;

transition:.5s;
}

.card:hover{

transform:
translateY(-10px);

box-shadow:
0 0 20px cyan;
}

.bar{

width:100%;
background:#333;

border-radius:20px;
}

.fill{

height:15px;

background:cyan;

border-radius:20px;
}

.html{

width:90%;
}

.css{

width:85%;
}

.js{

width:75%;
}

input,
textarea{

padding:10px;

width:100%;

margin:10px 0;
}

#topBtn{

position:fixed;

bottom:20px;

right:20px;

display:none;
}

.dark{

background:white;
color:black;
}
